/*向上移动*/
@-webkit-keyframes moveUp {
    0%{
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes moveUp {
    0%{
        -o-transform: translateY(100%);
        opacity: 0;
    }
    100%{
        -o-transform: translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveUp {
    0%{
        -moz-transform: translateY(100%);
        opacity: 0;
    }
    100%{
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveUp {
    0%{
        -ms-transform: translateY(100%);
        opacity: 0;
    }
    100%{
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveUp {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/*向下移动*/
@-webkit-keyframes moveDown {
    0%{
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes moveDown {
    0%{
        -o-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        -o-transform: translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveDown {
    0%{
        -moz-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveDown {
    0%{
        -ms-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes moveDown {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/*向右移动*/
@-webkit-keyframes moveRight {
    0%{
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}
@-o-keyframes moveRight {
    0%{
        -o-transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        -o-transform: translateX(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveRight {
    0%{
        -moz-transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveRight {
    0%{
        -ms-transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        -ms-transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/*向左移动*/
@-webkit-keyframes moveLeft {
    0%{
        -webkit-transform: translateX(100px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}
@-o-keyframes moveLeft {
    0%{
        -o-transform: translateX(100px);
        opacity: 0;
    }
    100%{
        -o-transform: translateX(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveLeft {
    0%{
        -moz-transform: translateX(100px);
        opacity: 0;
    }
    100%{
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveLeft {
    0%{
        -ms-transform: translateX(100px);
        opacity: 0;
    }
    100%{
        -ms-transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes moveLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/*渐显*/
@-webkit-keyframes moveShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes moveShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes moveShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-ms-keyframes moveShow {
    0%{
        -ms-transform: translateZ(-100px);
        opacity: 0;
    }
    100%{
        -ms-transform: translateZ(0px);
        opacity: 1;
    }
}
@keyframes moveShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*panel-1动画*/
#st-control-1:checked ~ .st-scroll #st-panel-1 p{
    -webkit-animation:moveUp 2s ease-in-out 0.2s backwards;
    -moz-animation:moveUp 2s ease-in-out 0.2s backwards;
    -o-animation:moveUp 2s ease-in-out 0.2s backwards;
    -ms-animation:moveUp 2s ease-in-out 0.2s backwards;
    animation:moveUp 2s ease-in-out 0.2s backwards;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 h2{
    -webkit-animation:moveDown 2s ease-in-out 0.2s backwards;
    -moz-animation:moveDown 2s ease-in-out 0.2s backwards;
    -o-animation:moveDown 2s ease-in-out 0.2s backwards;
    -ms-animation:moveDown 2s ease-in-out 0.2s backwards;
    animation:moveDown 2s ease-in-out 0.2s backwards;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 div{
    -webkit-animation:moveShow 2s ease-in-out 0.2s backwards;
    -moz-animation:moveShow 2s ease-in-out 0.2s backwards;
    -o-animation:moveShow 2s ease-in-out 0.2s backwards;
    -ms-animation:moveShow 2s ease-in-out 0.2s backwards;
    animation:moveShow 2s ease-in-out 0.2s backwards;
}
/*panel-2动画*/
#st-control-2:checked ~ .st-scroll #st-panel-2 div{
    -webkit-animation:moveShow 2s ease-in-out 0.2s backwards;
    -moz-animation:moveShow 2s ease-in-out 0.2s backwards;
    -o-animation:moveShow 2s ease-in-out 0.2s backwards;
    -ms-animation:moveShow 2s ease-in-out 0.2s backwards;
    animation:moveShow 2s ease-in-out 0.2s backwards;
}
/*panel-3动画*/
#st-control-3:checked ~ .st-scroll #st-panel-3 div{
    -webkit-animation:moveShow 2s ease-in-out 0.2s backwards;
    -moz-animation:moveShow 2s ease-in-out 0.2s backwards;
    -o-animation:moveShow 2s ease-in-out 0.2s backwards;
    -ms-animation:moveShow 2s ease-in-out 0.2s backwards;
    animation:moveShow 2s ease-in-out 0.2s backwards;
}
#st-control-3:checked ~ .st-scroll #st-panel-3 table{
    -webkit-animation:moveRight 2s ease-in-out 0.2s backwards;
    -moz-animation:moveRight 2s ease-in-out 0.2s backwards;
    -o-animation:moveRight 2s ease-in-out 0.2s backwards;
    -ms-animation:moveRight 2s ease-in-out 0.2s backwards;
    animation:moveRight 2s ease-in-out 0.2s backwards;
}
/*panel-4动画*/
#st-control-4:checked ~ .st-scroll #st-panel-4 div{
    -webkit-animation:moveShow 2s ease-in-out 0.2s backwards;
    -moz-animation:moveShow 2s ease-in-out 0.2s backwards;
    -o-animation:moveShow 2s ease-in-out 0.2s backwards;
    -ms-animation:moveShow 2s ease-in-out 0.2s backwards;
    animation:moveShow 2s ease-in-out 0.2s backwards;
}
#st-control-4:checked ~ .st-scroll #st-panel-4 form{
    -webkit-animation:moveUp 2s ease-in-out 0.2s backwards;
    -moz-animation:moveUp 2s ease-in-out 0.2s backwards;
    -o-animation:moveUp 2s ease-in-out 0.2s backwards;
    -ms-animation:moveUp 2s ease-in-out 0.2s backwards;
    animation:moveUp 2s ease-in-out 0.2s backwards;
}
/*panel-5动画*/
#st-control-5:checked ~ .st-scroll #st-panel-5 a{
    -webkit-animation:moveUp 2s ease-in-out 0.2s backwards;
    -moz-animation:moveUp 2s ease-in-out 0.2s backwards;
    -o-animation:moveUp 2s ease-in-out 0.2s backwards;
    -ms-animation:moveUp 2s ease-in-out 0.2s backwards;
    animation:moveUp 2s ease-in-out 0.2s backwards;
}
#st-control-5:checked ~ .st-scroll #st-panel-5 a + i{
    -webkit-animation:moveDown 2s ease-in-out 0.2s backwards;
    -moz-animation:moveDown 2s ease-in-out 0.2s backwards;
    -o-animation:moveDown 2s ease-in-out 0.2s backwards;
    -ms-animation:moveDown 2s ease-in-out 0.2s backwards;
    animation:moveDown 2s ease-in-out 0.2s backwards;
}