
/*内容区通用格式*/
.st-scroll{width:100%;height:100%;position: relative;
    left:0;
    top:0px;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /*当元素不面向屏幕时 是否可见*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition:transform 0.6s ease-in-out;
    -moz-transition:transform 0.6s ease-in-out;
    -o-transition:transform 0.6s ease-in-out;
    transition:transform 0.6s ease-in-out;
}
.st-color{background: #a12638;}
.st-panel-1{position: relative;height: 100%;width: 100%;left:0;}
.st-panel-2{position: relative;height: 100%;width: 100%;left:100%;top:-100%}
.st-panel-3{position: relative;height: 100%;width: 100%;left:200%;top:-200%}
.st-panel-4{position: relative;height: 100%;width: 100%;left:300%;top:-300%}
.st-panel-5{position: relative;height: 100%;width: 100%;left:400%;top:-400%}
.st-panel-1 h2{
    color: #A22638;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    font-weight:900;
    width: 80%;
    position: absolute;
    left:10%;
    top:50%;
    margin-top: -70px;
    text-shadow:2px 2px 2px rgba(151,24,64,0.2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.st-panel-1 p{
    position: absolute;
    width: 50%;
    left:25%;
    top:50%;
    font-size: 16px;
    line-height: 22px;
    padding:0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #8b8b8b;
    margin-top:10px;
}
.st-desc-red-r{
    border:100px solid transparent;
    border-right-color: #a12638;
    position: absolute;
    left:100%;
    top:50%;
    margin: -100px 0 0 -200px;
}
.st-desc-red-r + i{
    width:100px;
    height: 100px;
    color: #fff;
    font-size:70px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left:100%;
    top:50%;
    margin: -50px 0 0 -90px;
}
.st-desc-red-l{
    border:100px solid transparent;
    border-left-color: #a12638;
    position: absolute;
    left:0%;
    top:50%;
    margin: -100px 0 0 0;
}
.st-desc-red-l + i{
    width:100px;
    height: 100px;
    color: #fff;
    font-size:70px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left:0%;
    top:50%;
    margin: -50px 0 0 0px;
}
.st-desc-white-r{
    border:100px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left:100%;
    top:50%;
    margin: -100px 0 0 -200px;
}
.st-desc-white-r + i{
    width:100px;
    height: 100px;
    color: #a12638;
    font-size:70px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left:100%;
    top:50%;
    margin: -50px 0 0 -90px;
}
.st-desc-white-l{
    border:100px solid transparent;
    border-left-color: #fff;
    position: absolute;
    left:0%;
    top:50%;
    margin: -100px 0 0 0;
}
.st-desc-white-l + i{
    width:100px;
    height: 100px;
    color: #a12638;
    font-size:70px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left:0%;
    top:50%;
    margin: -50px 0 0 0px;
}

#st-control-1:checked ~ .st-scroll{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
#st-control-2:checked ~ .st-scroll{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
#st-control-3:checked ~ .st-scroll{
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
}
#st-control-4:checked ~ .st-scroll{
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -o-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
}
#st-control-5:checked ~ .st-scroll{
    -webkit-transform: translateX(-400%);
    -moz-transform: translateX(-400%);
    -o-transform: translateX(-400%);
    -ms-transform: translateX(-400%);
    transform: translateX(-400%);
}

/*学科页面内容*/
.fontBtn1{width: 100%;position: absolute;height: 70%}
.st-btn-1,.st-btn-2,.st-btn-3,.st-btn-4{width: 200px;height: 200px;position: absolute;top:50%;text-align: center;line-height: 200px;color: #a12638;margin: 29px 0 0 -100px;}
.st-btn-1 input ~ i,.st-btn-2 input ~ i,.st-btn-3 input ~ i,.st-btn-4 input ~ i{
    -webkit-transition:transform 0.4s ease-in-out;
    -moz-transition:transform 0.4s ease-in-out;
    -o-transition:transform 0.4s ease-in-out;
    transition:transform 0.4s ease-in-out;}
.st-btn-1{left:20%;}
.st-btn-2{left:40%;}
.st-btn-3{left:60%;}
.st-btn-4{left:80%;}
.st-btn-1>input,.st-btn-2>input,.st-btn-3>input,.st-btn-4>input{opacity: 0;z-index: 1000;}
.st-btn-1>input,.st-btn-1>a,.st-btn-2>input,.st-btn-2>a,.st-btn-3>input,.st-btn-3>a,.st-btn-4>input,.st-btn-4>a{color:#fff;width: 97px;height:97px;left:50%;line-height:75px;position: absolute;margin-top:43px;padding-top:55px;margin-left: -52px;/*让光标形状变为手型，因为点击的是a 不是input*/cursor: pointer;}
.st-btn-1 input:hover + a,.st-btn-2 input:hover + a,.st-btn-3 input:hover + a,.st-btn-4 input:hover + a{background-color:#a12638}
.st-btn-1 input:hover ~ i,.st-btn-2 input:hover ~ i,.st-btn-3 input:hover ~ i,.st-btn-4 input:hover ~ i{
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform:translateY(-15px);
    transform: translateY(-15px);
}

/*学生页面内容*/
.fontBtn2{width: 100%;position: absolute;height: 70%}
.st-btn-5,.st-btn-6,.st-btn-7,.st-btn-8{width: 200px;height: 200px;position: absolute;top:50%;text-align: center;line-height: 200px;color: #fff;margin: 29px 0 0 -100px;}
.st-btn-5 input ~ i,.st-btn-6 input ~ i,.st-btn-7 input ~ i,.st-btn-8 input ~ i{
    -webkit-transition:transform 0.4s ease-in-out;
    -moz-transition:transform 0.4s ease-in-out;
    -o-transition:transform 0.4s ease-in-out;
    transition:transform 0.4s ease-in-out;}
.st-btn-5{left:25%;margin-left: -100px}
.st-btn-6{left:50%;margin-left: -100px}
.st-btn-7{left:75%;margin-left: -100px}
.st-btn-5>input,.st-btn-6>input,.st-btn-7>input{opacity: 0;z-index: 1000;}
.st-btn-5>input,.st-btn-5>a,.st-btn-6>input,.st-btn-6>a,.st-btn-7>input,.st-btn-7>a{color:#a12638!important;width: 97px;height:97px;left:50%;line-height:75px;position: absolute;margin-top:43px;padding-top:55px;margin-left: -52px;/*让光标形状变为手型，因为点击的是a 不是input*/cursor: pointer;}
.st-btn-5 input:hover + a,.st-btn-6 input:hover + a,.st-btn-7 input:hover + a{background-color:#fff}
.st-btn-5 input:hover ~ i,.st-btn-6 input:hover ~ i,.st-btn-7 input:hover ~ i{
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform:translateY(-15px);
    transform: translateY(-15px);
}

/*教师页面*/
.details{position: absolute;top:129px;width:100%}

/*搜索表格样式*/
.searchBox{position: relative;width:800px;height:500px;margin:0 auto;color:#fff;}
.title{font-weight: bolder;font-size: 20px;text-align: center;}
.selectArea{margin: 15px;}
.selectArea input[type=checkbox] {visibility: hidden;}
.selectArea select {background-color: #a12638;-webkit-appearance: none;-moz-appearance: none;border-radius: 15px;-webkit-border-radius:15px;-moz-border-radius: 15px;border: 1px solid #fff;color:#fff;padding:0 2px;text-align:center;}
.selectArea select:hover,.selectArea select:focus{border: 1px solid #ff0;}
.checkArea{float: left;position: relative;width: 61px;height: 40px;margin: 0 5px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
.checkArea span{position: absolute;left: 18px;top:-15px;}
.checkArea .checkbox{width: 40px;height: 16px;border:1px solid #fff;position: relative;top:25%;left:8px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;}
.checkArea .checkbox label{width: 12px;height: 12px;top:1px;left:2px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius:50%;background: #fff;cursor: pointer;position: absolute;-webkit-transition: all .5s ease;-moz-transition:all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.checkArea .checkbox input[type=checkbox]:checked + label {left: 24px;background: #26ca28;font-family: 'Exo', sans-serif;}
.textArea{margin: 70px 0 0 15px;}
.textSearch .searchName{width:150px;border: 1px solid #fff;margin-bottom: 24px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;}
.textSearch input[type=text] {padding:0 10px;color:#fff;margin-top: 5px;font-family: 'Exo', sans-serif;}
.textSearch .searchName:hover,.textSearch .searchName:focus{border: 1px solid #ff0;}
.searchSubBtn,.searchResBtn{font-size: 20px;color:#fff;margin-left:50px;position: relative;}
.searchSubBtn .btnLine,.searchResBtn .btnLine{position:absolute;background: none;transition:0.4s ease;-webkit-transition:0.4s ease;-moz-transition:0.4s ease;-o-transition:0.4s ease;}
.searchSubBtn .lineTop{height: 1px;width: 0px;left:-110px;top:-5px}
.searchResBtn .lineTop{height: 1px;width: 0px;left:-100px;top:-5px}
.searchSubBtn .lineRight{width:1px;height: 0px;top:-40px;right:-15px;}
.searchResBtn .lineRight{width:1px;height: 0px;top:-40px;right:-15px;}
.searchSubBtn .lineBottom{height: 1px;width: 0px;left:210px;top:32px}
.searchResBtn .lineBottom{height: 1px;width: 0px;left:210px;top:32px}
.searchSubBtn .lineLeft{width:1px;height: 38px;top:80px;left:-10px;}
.searchResBtn .lineLeft{width:1px;height: 38px;top:80px;left:-10px;}
.searchSubBtn:hover .btnLine,.searchResBtn:hover .btnLine{background: #fff}
.searchSubBtn:hover .lineTop{height: 1px;width: 100px;left:-10px;top:-5px}
.searchResBtn:hover .lineTop{height: 1px;width: 86px;left:-10px;top:-5px}
.searchSubBtn:hover .lineRight{width:1px;height: 38px;top:-5px;right:-15px;}
.searchResBtn:hover .lineRight{width:1px;height: 38px;top:-5px;right:-15px;}
.searchSubBtn:hover .lineBottom{height: 1px;width: 100px;left:-10px;top:32px}
.searchResBtn:hover .lineBottom{height: 1px;width: 86px;left:-10px;top:32px}
.searchSubBtn:hover .lineLeft{width:1px;height: 38px;top:-5px;left:-10px;}
.searchResBtn:hover .lineLeft{width:1px;height: 38px;top:-5px;left:-10px;}