@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

*{margin: 0;padding:0;font-family: 'Exo', sans-serif;}
body{background: #a12638;font-weight: 400;font-size: 15px;color: #333;/*设置字体抗锯齿和光滑度*/-webkit-font-smoothing:antialiased;}
a{text-decoration: none;color: #555;}
li{list-style: none;}
input,select,textarea{outline: none;border: none; background: none;}
textarea{resize: none;}
html{background: #a12638}
.searchBox{position: relative;width:800px;height:500px;margin:0 auto;color:#fff;}
.title{font-weight: bolder;font-size: 20px;text-align: center;}
.selectArea{margin: 15px;}
.selectArea input[type=checkbox] {visibility: hidden;}
.selectArea select {background-color: #a12638;-webkit-appearance: none;-moz-appearance: none;border-radius: 15px;-webkit-border-radius:15px;-moz-border-radius: 15px;border: 1px solid #fff;color:#fff;padding: 2px;text-align: center;}
.selectArea select:hover,.selectArea select:focus{border: 1px solid #ff0;}
.checkArea{float: left;position: relative;width: 61px;height: 40px;margin: 0 5px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
.checkArea span{position: absolute;left: 18px;top:-15px;}
.checkArea .checkbox{width: 40px;height: 16px;border:1px solid #fff;position: relative;top:25%;left:8px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;}
.checkArea .checkbox label{width: 12px;height: 12px;top:1px;left:2px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius:50%;background: #ff0;cursor: pointer;position: absolute;-webkit-transition: all .5s ease;-moz-transition:all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.checkArea .checkbox input[type=checkbox]:checked + label {left: 24px;background: #26ca28;font-family: 'Exo', sans-serif;}
.textArea{margin: 70px 0 0 15px;}
.textSearch .searchName{width:150px;border: 1px solid #fff;margin-bottom: 24px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;}
.textSearch input[type=text] {padding:0 10px;color:#fff;margin-top: 5px;font-family: 'Exo', sans-serif;}
.textSearch .searchName:hover,.textSearch .searchName:focus{border: 1px solid #ff0;}
.searchSubBtn,.searchResBtn{font-size: 20px;color:#fff;margin-left:50px;position: relative;}
.searchSubBtn .btnLine,.searchResBtn .btnLine{position:absolute;background: none;transition:0.4s ease;-webkit-transition:0.4s ease;-moz-transition:0.4s ease;-o-transition:0.4s ease;}
.searchSubBtn .lineTop{height: 1px;width: 0px;left:-110px;top:-5px}
.searchResBtn .lineTop{height: 1px;width: 0px;left:-100px;top:-5px}
.searchSubBtn .lineRight{width:1px;height: 0px;top:-40px;right:-15px;}
.searchResBtn .lineRight{width:1px;height: 0px;top:-40px;right:-15px;}
.searchSubBtn .lineBottom{height: 1px;width: 0px;left:210px;top:32px}
.searchResBtn .lineBottom{height: 1px;width: 0px;left:210px;top:32px}
.searchSubBtn .lineLeft{width:1px;height: 38px;top:80px;left:-10px;}
.searchResBtn .lineLeft{width:1px;height: 38px;top:80px;left:-10px;}
.searchSubBtn:hover .btnLine,.searchResBtn:hover .btnLine{background: #fff}
.searchSubBtn:hover .lineTop{height: 1px;width: 100px;left:-10px;top:-5px}
.searchResBtn:hover .lineTop{height: 1px;width: 86px;left:-10px;top:-5px}
.searchSubBtn:hover .lineRight{width:1px;height: 38px;top:-5px;right:-15px;}
.searchResBtn:hover .lineRight{width:1px;height: 38px;top:-5px;right:-15px;}
.searchSubBtn:hover .lineBottom{height: 1px;width: 100px;left:-10px;top:32px}
.searchResBtn:hover .lineBottom{height: 1px;width: 86px;left:-10px;top:32px}
.searchSubBtn:hover .lineLeft{width:1px;height: 38px;top:-5px;left:-10px;}
.searchResBtn:hover .lineLeft{width:1px;height: 38px;top:-5px;left:-10px;}



