@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

*{margin: 0;padding:0;font-family: 'Exo', sans-serif;}
body{font-family: Georgia,Serif;background: #fff;font-weight: 400;font-size: 15px;color: #333;/*设置字体抗锯齿和光滑度*/-webkit-font-smoothing:antialiased;}

/* scrollBar  */
.scrollBar{height: 90%;width: 100%;overflow-y: hidden;overflow-x: hidden}
.scrollBar:hover{height: 90%;width: 100%;overflow-y: scroll;overflow-x: hidden;}

/* scrollBar Style */
#style-1::-webkit-scrollbar-track{border-radius: 2px;}
#style-1::-webkit-scrollbar{width: 5px;background-color: #F7F7F7;}
#style-1::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #BFBFBF;}
/* scrollBar End */
.fa {position: relative;display: table-cell;width: 55px;height: 37px;text-align: center;line-height: 37;font-size:20px;}
.main-menu:hover, .main-menu.expanded {width:250px;overflow:hidden;opacity:1;}
.main-menu {margin-top:129px;background:#F7F7F7;position:absolute;top:0;bottom:0;height:100%;left:0;width:55px;overflow:hidden;-webkit-transition:width .2s linear;transition:width .2s linear;-webkit-transform:translateZ(0) scale(1,1);box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);opacity:1;}
.main-menu>ul {margin:7px 0;}
.main-menu li {position:relative;display:block;width:250px;}
.main-menu li>a {position:relative;width:255px;display:table;border-collapse:collapse;border-spacing:0;color:#8a8a8a;font-size: 13px;text-decoration:none;-webkit-transform:translateZ(0) scale(1,1);-webkit-transition:all .14s linear;transition:all .14s linear;font-family: 'Exo', sans-serif;border-top:1px solid #f2f2f2;text-shadow: 1px 1px 1px  #fff;}
.main-menu .nav-text  {position:relative;display:table-cell;vertical-align:middle;width:190px;font-family: 'Exo', sans-serif;}
a:hover,a:focus {text-decoration:none;border-left:0px solid #F7F7F7;}
nav ul,nav li {outline:0; margin:0;padding:0;text-transform: uppercase;}
.darkerlishadow{background-color:#ededed;text-transform:capitalize;-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);-moz-box-shadow:inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);box-shadow:inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);}
.darkerlishadowdown{background-color:#ededed;text-transform:capitalize;-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {color:#fff;background-color:#a12638;text-shadow: 0px 0px 0px;}
